<div class="question visible-question">
	<h2>Monthly Revenue</h2>
	<input>
	<button>Next</button>
</div>

<div class="question">
	<h2>Monthly Sales</h2>
	<input>
	<button>Next</button>
</div>

<div class="question">
	<h2>Number of Reps Taking Calls</h2>
	<input>
	<button>Next</button>
</div>

<div class="question">
	<h2>Monthly Opportunities</h2>
	<input>
	<button>Next</button>
</div>

<div class="question">
	<h2>Monthly Contacts</h2>
	<input>
	<button>Next</button>
</div>

<div class="question">
	<h2>Daily Dials per Rep</h2>
	<input>
	<button>Next</button>
</div>